:root {
  --primary-color: #1c4980;
  --secondary-color: #0073e6;
  --system-background: #f6f8fa;
  --border-color: #bacbd5;
  --accent-purple: #6548EE;
  --accent-purpleLight: #EBE8FD;
  --x-space: 1.25rem;
}
.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--system-background);
  min-width: 375px;
}

.app_body {
  border-radius: 20px 0 0 20px;
  flex: 1;
  height: 100vh;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .app_body {
    flex: 1;
  }
}
